<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Append messages to the console -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>

    <!-- Preserve messages in a local file -->
    <appender name="INFO" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./logs/hotel/Hub/Hub_INFO.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <!-- Append messages to the error log file -->
    <appender name="ERROR_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="ERROR"/>
        <param name="File" value="./logs/hotel/Hub/Hub_ERROR.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR"/>
            <param name="LevelMax" value="ERROR"/>
        </filter>
    </appender>

    <!-- Append messages to the debug log file -->
    <appender name="DEBUG_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value="./logs/hotel/Hub/Hub_DEBUG.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="20MB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG"/>
            <param name="LevelMax" value="DEBUG"/>
        </filter>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="DEBUG_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
    </root>

</log4j:configuration>